.wrapper {
    width: 100%;
    padding: 32px 0 8px 0;
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    color: var(--word-color);
    background-color: var(--background);
}

.media-header {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 16px;
    gap: 8px;
    top: 0px;

    .media-header__line {
        width: 1px;
        height: 262px;
        background-color: var(--gray);
        display: block;
    }

    .media-header__links {
        display: grid;
        grid-auto-columns: 1fr;

        .media {
            width: 32px;
            height: 32px;
        }
    }
}

.media:hover {
    filter: brightness(0) invert(1);
}

.container {
    margin: 0 auto;
    width: 1024px;
}

.inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logo {
    height: 100%;
    width: 16px;
    display: flex;

    .logo-name {
        margin-left: 8px;
        font-weight: 700;
    }
}

.options {
    display: flex;
    margin-left: auto;
    padding-right: 16px;
    gap: 32px;
}

.dropdown,
.mobile__dropdown {
    color: var(--gray);
    position: relative;
}

.current-language-down,
.current-language-up {
    color: var(--gray);

    &::after {
        content: 'V';
        display: inline-block;
        scale: 1 0.3;
        font-weight: 600;
        margin-left: 4px;
    }

    &:hover {
        color: var(--word-color);
        cursor: pointer;
    }
}

.current-language-up {
    &::after {
        rotate: 180deg;
    }
}

.mobile__current-language-down {
    color: var(--gray);

    &::after {
        content: 'V';
        display: inline-block;
        scale: 1 0.3;
        font-weight: 600;
        margin-left: 4px;
    }

    .mobile__language-list {
        display: none;
    }
}

.mobile__current-language-up {
    color: var(--word-color);

    &::after {
        content: 'V';
        display: inline-block;
        scale: 1 0.3;
        font-weight: 600;
        margin-left: 4px;
        rotate: 180deg;
    }

    .mobile__language-list {
        display: block;
    }
}

.language-list,
.mobile__language-list {
    position: absolute;
    display: block;
    list-style: none;
    border: 1px solid var(--gray);
    color: var(--gray);

    .language,
    .mobile__language {
        padding: 8px;
        color: var(--gray);

        &:first-child {
            padding-bottom: 4px;
        }

        &:nth-child(2) {
            padding-top: 4px;
        }

        &:hover {
            color: var(--word-color);
            cursor: pointer;
        }
    }
}

.mobile {
    display: none;
    width: 100%;
    padding: 16px;
    position: relative;

    .mobile__logo {
        display: flex;
        gap: 8px;

        img {
            width: 16px;
            height: 24px;
        }

        .mobile__logo-name {
            font-weight: 700;
        }
    }

    .mobile__links {
        position: absolute;
        display: flex;
        flex-direction: column;
        font-size: 2.4rem;
        margin-top: 20px;
        gap: 32px;
    }

    .mobile__dropdown {
        position: absolute;
        font-size: 2.4rem;
        top: 40px;
        right: 16px;
        margin-top: 20px;
    }

    .mobile__options {
        display: none;
        height: 100vh;
    }

    .mobile__media-header__links {
        position: absolute;
        display: flex;
        gap: 16px;
        left: 50%;
        transform: translate(-50%, -100%);
        bottom: 50px;
        z-index: 9999;
    }
}

.mobile__input {
    position: absolute;
    width: 32px;
    height: 25px;
    top: 14px;
    right: 16px;
    appearance: none;
    cursor: pointer;

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--gray);
        top: 30%;
        transition: all 0.2s ease;
    }

    &::after {
        width: 70%;
        top: 70%;
        right: 0;
    }

    &:checked ~ .mobile__options {
        display: block;
    }

    &:checked::before {
        transform: translateY(-50%) rotateZ(-45deg);
        top: 50%;
    }

    &:checked::after {
        transform: translateY(-50%) rotateZ(45deg);
        width: 100%;
        top: 50%;
    }
}

// Tablet & Mobile
@media screen and (max-width: 1024px) {
    .media-header {
        display: none !important;
    }
}

// Tablet
@media (min-width: 740px) and (max-width: 1024px) {
    .container {
        padding: 16px;
    }
}

@media (max-width: 739px) {
    .wrapper {
        padding-top: 16px;
        width: 100%;
    }

    .inner {
        display: none;
    }

    .mobile {
        display: block;
    }

    .media-icon {
        width: 48px;
        height: 48px;
    }
}
