//Bug at: current language

.wrapper {
    width: 100%;
    padding: 32px 0 8px 0;
    position: fixed;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    color: var(--word-color);
    background-color: var(--background);
}

.menu {
    position: absolute;
    display: none;
    top: 44px;
    right: 16px;

    .menu-icon {
        width: 32px;
        height: 32px;
        color: var(--gray) !important;
        cursor: pointer;
    }
}

.media-header {
    display: none;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 16px;
    gap: 8px;
    top: 0px;

    .media-header__line {
        width: 1px;
        height: 262px;
        background-color: var(--gray);
        display: block;
    }

    .media-header__links {
        display: grid;
        grid-auto-columns: 1fr;
    }
}

.media:hover {
    filter: brightness(0) invert(1);
}

.inner {
    height: 100%;
    width: 1024px;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 100%;
    width: 16px;
    display: flex;
}

.logo-name {
    margin-left: 8px;
    font-weight: 700;
}

.options {
    display: flex;
    margin-left: auto;
    padding-right: 16px;
    gap: 32px;
}

.hashtag {
    color: var(--primary);
}

.active {
    color: white;
    font-weight: 600;
}

.projects-page,
.about-page {
    color: var(--gray);
}

.projects-page:hover,
.about-page:hover {
    color: var(--word-color);
}

.dropdown {
    color: var(--gray);
    position: relative;
}

.language-list {
    position: absolute;
    display: none;
}

.current-language {
    color: var(--gray);

    &::after {
        content: 'V';
        display: inline-block;
        scale: 1 0.3;
        font-weight: 500;
        margin-left: 4px;
    }

    &:hover {
        color: var(--word-color);
        cursor: pointer;
    }

    &:hover + .language-list {
        display: block;
    }
}

.language-list {
    list-style: none;
    border: 1px solid var(--gray);
    color: var(--gray);
}

.language {
    // z-index: 999;
    padding: 8px;
    color: var(--gray);

    &:hover {
        color: var(--word-color);
        cursor: pointer;
    }
}

@media screen and (max-width: 1024px) {
    .media-header {
        display: none !important;
    }

    .inner {
        padding: 16px;
    }
}

@media screen and (max-width: 769px) {
    .options,
    .dropdown {
        display: none;
    }

    .inner {
        padding: 16px;
    }

    .menu {
        display: block;
    }
}
