.about {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;

    .about__desc {
        color: var(--gray);
        margin-bottom: 16px;
    }
}

.skills {
    width: 100%;
}

.skill-content {
    display: block;
    gap: 32px;
    flex-wrap: wrap;
    text-align: center;

    h1 {
        font-size: 2.4rem;
        margin: 26px 0 12px 0;

        strong {
            color: var(--primary);
        }
    }
}

.my-skills,
.tools {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.facts {
    width: 100%;
}

.fun-facts {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 16px;
    margin-top: 48px;
    .fact {
        border: 1px solid var(--gray);
        color: var(--gray);
        padding: 8px;
        transition: all 0.4s ease 0s;

        &:hover {
            box-shadow: rgba(196, 112, 219, 0.19) 0px 10px 20px, rgba(196, 112, 219, 0.23) 0px 6px 6px;
        }
    }
}

@media screen and (max-width: 739px) {
    .about {
        flex-direction: column;
    }
}

@media (max-width: 280px) {
    .about__image {
        width: 200px;
    }
}
