@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #c470db;
    --background: #282c33;
    --word-color: #ffffff;
    --gray: #abb2bf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--word-color);
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Fira Code', monospace;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    background-color: var(--background);
}

a[href] {
    text-decoration: none;
}

.h2 {
    display: inline-block;
    position: relative;
    font-size: 3.2rem;
    font-weight: 500;
    float: none;
    clear: both;

    &::before {
        content: '#';
        color: var(--primary);
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 10vw;
        height: 1px;
        background-color: var(--primary);
        transform: translate(100%, -50%);
        right: -16px;
        top: 50%;
    }
}

.path {
    width: 100%;
    display: block;

    .path__name {
        font-weight: 600;

        &::before {
            content: '/';
            color: var(--primary);
        }
    }

    .path__desc {
        margin-top: 16px;
        color: var(--gray);
    }
}

.project {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    align-items: flex-start;
    margin-top: 48px;

    .project-item {
        border: 1px solid var(--gray);

        .project-item__image {
            max-width: 100%;
            display: block;
            border: 1px solid var(--gray);
        }

        .project-item__techs {
            display: flex;
            flex-wrap: wrap;
            gap: 8px 16px;
            padding: 8px;
            border-bottom: 1px solid var(--gray);

            .project-item__tech {
                list-style: none;
                color: var(--gray);
            }
        }

        .project-item__content {
            padding: 16px;

            .project-item__name {
                font-weight: 500;
            }

            .project-item__desc {
                color: var(--gray);
                margin: 16px 0;
            }

            .project-item__links {
                display: flex;
                font-weight: 500;
                gap: 8px;
            }

            .button {
                display: inline-block;
                border: 1px solid var(--primary);
                padding: 8px 16px;

                &:hover {
                    background-color: #383344;
                }
            }
        }
    }
}
