@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #c470db;
    --background: #282c33;
    --word-color: #ffffff;
    --gray: #abb2bf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--word-color);
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Fira Code', monospace;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    background-color: var(--background);
}

a[href] {
    text-decoration: none;
}
