.information {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.information-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.information-title {
    min-width: 300px;
    font-weight: 600;

    span {
        color: var(--primary);
    }
}

.information-desc {
    color: var(--gray);
    margin: 32px 0;
}

.information-image {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-outline-logo {
    position: absolute;
    width: 30vmin;
    top: 40px;
    left: 0;
    z-index: -1;
}

.information-avatar {
    border-bottom: 1px solid var(--primary);
    width: 60vmin;
}

.information-dots {
    position: absolute;
    right: 55px;
    top: 40%;
    width: 12vmin;
}

.information-status {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -1px;
    padding: 8px;
    margin: 0 auto;
    border: 1px solid var(--gray);
    font-weight: 500;
    gap: 8px;
    color: var(--gray);

    a {
        text-decoration: underline !important;
    }

    a:hover {
        color: var(--primary);
        cursor: pointer;
    }

    &::before {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        border: 1px solid var(--primary);
        background-color: #383344;
    }
}

// quote section

.quote {
    position: relative;
    border: 1px solid var(--gray);
    margin: 0;

    &::before {
        top: -32px;
        left: 16px;
    }

    &::after {
        bottom: -64px;
        right: 16px;
    }

    &::before,
    &::after {
        content: '"';
        position: absolute;
        color: var(--gray);
        font-size: 64px;
        font-weight: 700;
        background-image: linear-gradient(var(--background), var(--background));
        background-size: 100% 40%;
        background-repeat: no-repeat;
    }

    .quote-text {
        padding: 32px;
        font-size: 2.4rem;
        font-weight: 500;
        background-color: var(--background);
    }

    .quote-author {
        position: absolute;
        color: var(--gray);
        border: 1px solid var(--gray);
        padding: 8px;
        right: -1px;
        font-size: 1.6rem;

        &::before {
            content: '- ';
        }
    }
}

//projects section
.projects {
    width: 100%;
}

.projects-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 48px;

    .projects-header__link {
        text-decoration: underline;

        &:hover {
            color: var(--primary);
        }
    }
}

// skills section
.skills {
    width: 100%;
}

.skills-content {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}

.skills-content__decor {
    flex: 1 1 0;
    position: relative;
    min-width: 300px;
    min-height: 300px;

    .skills-content__outline-logo {
        top: 30%;
        position: absolute;
        left: 70%;
    }

    .skills-content__dot1 {
        width: 10vmin;
        top: 20%;
        left: 40%;
        position: absolute;
    }

    .skills-content__dot2 {
        width: 16vmin;
        top: 70%;
        left: 10%;
        position: absolute;
    }
}

.skills-content__skill-lists {
    flex: 1 1 0;
    column-gap: 16px;
    columns: 3;

    .skill-lists__block {
        margin-bottom: 16px;
        border: 1px solid var(--gray);
        display: inline-block;
        max-width: 300px;
        min-width: 200px;

        .block-name {
            font-weight: 600;
            padding: 8px;
            border-bottom: 1px solid var(--gray);
        }

        .block-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 8px;
            padding: 8px;
            list-style: none;

            .block-item {
                color: var(--gray);
            }
        }
    }
}

//about section
.about {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.about-header {
    font-size: 3.2rem;
    font-weight: 500;
    position: relative;
    float: none;
    clear: both;
    display: inline-block;

    &::before {
        content: '#';
        color: var(--primary);
    }

    &::after {
        content: '';
        display: block;
        width: 10vw;
        height: 1px;

        background-color: var(--primary);
        position: absolute;
        transform: translate(100%, -50%);
        left: 45px;
        top: 50%;
    }
}

.about-content {
    margin: 48px 0 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .about-desc {
        color: var(--gray);
    }
}

.about-image {
    max-width: 340px;
    padding: 0;
}

//contact section
.contact {
    width: 100%;
}

.contact-header {
    font-size: 3.2rem;
    font-weight: 500;
    position: relative;
    float: none;
    clear: both;
    display: inline-block;

    &::before {
        content: '#';
        color: var(--primary);
    }

    &::after {
        content: '';
        display: block;
        width: 180px;
        height: 1px;
        background-color: var(--primary);
        position: absolute;
        transform: translate(100%, -50%);
        right: -16px;
        top: 50%;
    }
}

.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 48px;

    .contact-text {
        color: var(--gray);
        max-width: 600px;
    }

    .contact-info {
        border: 1px solid var(--gray);
        padding: 16px;

        .contact-info__text {
            margin-bottom: 16px;
        }

        .contact-media {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-top: 8px;

            p {
                color: var(--gray);
            }
        }
    }
}

.contact-media:hover {
    filter: brightness(0) invert(1);
    color: var(--word-color);
}

// Tablet & Mobile
@media screen and (max-width: 1024px) {
}

@media (min-width: 740px) and (max-width: 1024px) {
    .skills-content__skill-lists {
        margin-left: 10px;
    }
    .information-avatar {
        width: 45vmin;
    }
    .information-dots {
        right: 20px;
    }
    .skills-content__dot2 {
        top: 60% !important;
    }
}

@media (max-width: 739px) {
    .information {
        flex-wrap: wrap;
    }

    .information-image,
    .information-avatar {
        width: 100%;
    }

    .information-outline-logo {
        width: 35%;
    }

    .information-dots {
        right: 90px;
    }

    .projects-header {
        // flex-direction: column;
        // align-items: flex-start;
    }

    .skills-content__outline-logo {
        width: 60px;
        height: 60px;
    }

    .skills-content__skill-lists {
        columns: 1;
    }

    .about {
        flex-direction: column;
    }
}
